/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: "Roboto";
  src: url("fonts/Roboto-Thin.ttf");
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: "Roboto";
  src: url("fonts/Roboto-Thin.ttf");
}
@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: "Roboto";
  src: url("fonts/Roboto-Light.ttf");
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.otf");
}
/* line 11, ../sass/landingpage.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 25, ../sass/landingpage.scss */
body {
  padding: 0;
  margin: 0;
  font: "Roboto";
  /*REMOVE IN CLEAN CODE*/
  overflow: hidden;
}

.overlay{
  width: 34%;
  /*REMOVE IN CLEAN CODE*/
  height: 99999px;
  min-height: 100%;
  background-color: black;
  opacity: 0.5;
  display: inline-block;
  float: right;
}

.heroContainer{
  display: inline-block;
}


/* line 30, ../sass/landingpage.scss */
.container-fluid {
  position: relative;
  width: 66%;
  margin: 0 auto;
}
/* line 33, ../sass/landingpage.scss */
.container-fluid .heroContainer {
  position: relative;
  width: 66%;
  margin-top: 5%;
}
/* line 37, ../sass/landingpage.scss */
.container-fluid .heroContainer img.landingpage {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  opacity: .9;
  background-color: black;
  position: absolute;
  left: 0;
  Stop: 0;
  height: 256px;
  width: 256px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
#idLogo{
  background: url("../assets/icons/idLogo.png");
  -webkit-background-size: contain; 
  -moz-background-size: contain; 
  -o-background-size: contain; 
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
}
.clickBaitContainer{
  margin-top: 25px;
}




@media screen and (max-width: 1024px) {
  /* line 33, ../sass/landingpage.scss */
  .container-fluid .heroContainer {
    /* Specific to this particular image */
  }
  /* line 57, ../sass/landingpage.scss */
  .container-fluid .heroContainer img.landingpage {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}
/* line 64, ../sass/landingpage.scss */
.container-fluid .heroContainer .companyName {
  position: relative;
  font-family: "Roboto";
  color: #fff;
  font-size: 2em;
  margin-top: 8%;
}
/* line 74, ../sass/landingpage.scss */
.container-fluid .heroContainer .companyHeader {
  position: relative;
  font-family: "Roboto";
  color: #fff;
  font-size: 1em;
  margin-bottom: 10%;
}
/* line 84, ../sass/landingpage.scss */
.container-fluid .heroContainer .Slogan {
  font-size: 3em;
  margin-top: 8%;
  position: relative;
  font-family: "Roboto";
  color: #fff;
}
/* line 93, ../sass/landingpage.scss */
.container-fluid .heroContainer .Slogan2 {
  font-size: 3em;
  position: relative;
  font-family: "Roboto";
  color: #fff;
}
/* line 101, ../sass/landingpage.scss */
.container-fluid .heroContainer .clickBait {
    padding: 5px 5px;
    min-width: 300px;

    position: relative;
    cursor: pointer;
    border-radius: 10px;
    color: #55ACEE;
    font-size: 30px;
    border: 0;
    display: inline-block;
    background-color: #fff;
    top: -17px;
}